[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=akshay
Group=akshay
WorkingDirectory=/home/akshay/app/src/
Environment="PATH=/home/akshay/app/venv/bin"
EnvironmentFile=/home/akshay/.env
ExecStart=/home/akshay/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target